<% if user_signed_in? && current_user.id != title.user.id %>
  <% if current_user.smile_by?(title.id)  %>
    <td>
      <%= link_to destroy_smile_path(title), method: :DELETE, remote: true do %> 
        <i class="far fa-grin-squint-tears unlike-btn"></i> 
      <% end %> 
      <%= title.smiles.count %>
    </td>
  <% else %>
    <td>
      <%= link_to create_smile_path(title), method: :POST, remote: true do %> 
        <i class="far fa-grin-squint-tears like-btn"></i> 
      <% end %> 
      <%= title.smiles.count %>
    </td>
  <% end %>
<% end %>

