<section class="section1">
  <article class="media">
    <div class="media-content">
      <% unless user_signed_in? %>
        <div class="columns is-centered">
          <div class="top-menu">
            <br>
            <%= link_to "Log In", new_user_session_path, class: "login-button" %>
            <br>
            <%= link_to "New Entry", new_user_registration_path, class: "newenrty-button" %>
          </div>
        </div>
      <% end %>
    </div>
  </article>
</section>