/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";
 
 body {
  font-family: serif;
}

.error-message {
  background-color: yellow;
}

 .notification:not(:last-child){
	margin-bottom: 0;
}

.profile_image{
  border-radius: 50%;
}

.section1 {
  height: 95vh;
  width: 100%;
  background-image: url(kurokabe.jpg);
  background-size: cover;
  background-position: center;
}
.title {
  color: yellow;
}

.login-button {
  color: yellow;
  font-weight: bold;
  line-height: 40vh;
  font-size: 4vh;
}

.new-section {
  background-image: url(kuro.jpg);
  height: 96vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.new-title {
  padding-top: 50px;
  font-size: 30px;
  text-align: center;
  color: white;
}

.new-field {
  margin: 30px 0;
}

.em-color {
  color: red;
  background-color: yellow;
}

.post-count {
  color: white;
}

.newenrty-button {
  color: yellow;
  font-weight: bold;
  font-size: 4vh;
}


.my-back {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.detail {
  text-align: center;
  font-size: 32px;
  color: yellow;
}

.entry-back {
  background-image: url(kurokabe.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-buttons {
  display: flex;
}

.active{
  background-Color:yellow;
}
.selected{
  background-Color:red;
}
#large_block{
display:flex;
flex-wrap:wrap;
}
#large_block div{
width:24%;
}



