/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";
 
 body {
  font-family: serif;
  overflow: hidden;
  height: 100%;
}

.navbar-head {
  display: flex;
}

.top-content {
  width: 100%;
  position: relative;
  position: fixed;
  top: 73vh;
  text-align: center;
  align-items: center;
}

.top-menu {
  background-color: black;
  color: white;
  font-size: 20px;
  height: 170px;
}

.error-message {
  background-color: yellow;
  color: black;
}

.notification:not(:last-child){
	margin-bottom: 0;
}

.profile_image{
  border-radius: 50%;
}

.section1 {
  height: 96vh;
  width: 100%;
  background-image: url(ippon.jpg);
  background-size: contain;
  background-position: center;
}

.title {
  color: yellow;
}

.login-button {
  color: yellow;
  font-weight: bold;
  line-height: 40vh;
  font-size: 4vh;
}

.new-section {
  background-image: url(good.jpg);
  height: 96vh;
  width: 100%;
  background-size: cover;
}

.new-title {
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
}

.new-field {
  margin: 30px 0;
}

.image-label {
  margin: 30px 0;
  background-color: black;
}

.em-color {
  color: red;
  background-color: rgba(255, 255, 0, 0.774);
}

.post-count {
  color: white;
}

.columns {
  align-items: center;
}

.detail {
  text-align: center;
  font-size: 32px;
  color: black;
  font-weight: bold;
}

.flex-buttons {
  display: flex;
}

.active{
  background-Color:rgb(255, 231, 20);
}
.selected{
  background-Color:red;
}
#large_block{
display:flex;
flex-wrap:wrap;
}
#large_block div{
width:24%;
}

.shared-link{
  background-color: black;
  margin-top: 30px;
}
