// Place all the styles related to the dislikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dislike-btn {
  font-size: 30px;
  color: black;
  padding-left: 5px;
 }
 
 .disunlike-btn {
  font-size: 30px;
  color: blue;
  padding-left: 5px;
 }

 .fa-meh-rolling-eyes {
   font-size: 30px;
   padding-left: 5px;
 }