// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.posts-all-back {
  background-color: black;
  text-align: center;
  width: 100vw;
}

.panel {
  background-color: rgb(255, 231, 20);
  padding-left: 10px;
  padding-right: 10px;
}

.post-title {
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.column {
  width: 50vh;
  margin: 0 auto 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: bold;
  color: black;
}

.column {
  text-align: center;
}

.updated {
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.post-show-back {
  background-color: black;
  text-align: center;
  min-width: 100vh;
  height: 95vh;
}

.name-holder {
 font-size: 48px;
 font-weight: bold;
}

.is-size-2 {
  background-color: rgb(255, 231, 20);
}

.flex-buttons {
  color: white;
}

.field label {
  color: white;
}

.detail {
  color: white;
}