// Place all the styles related to the ranks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rank-back {
  background-color: rgb(12, 12, 11);
  height: 100vh;
}

.rank-content {
  display: flex;
}

.likes-table thead th {
	font-weight: bold;
	color: white;
  font-size: 20px;
  width: 50vw;
  padding: 20px 30px;
}

.likes-table tbody th {
	font-weight: bold;
  font-size: 26px;
  padding-left: 30px;
  color: red;
}

.smiles-table thead th {
  color: white;
	font-weight: bold;
  font-size: 20px;
  padding: 20px 30px;
}

.smiles-table tbody th {
	font-weight: bold;
  font-size: 26px;
  padding-left: 30px;
  color: red;
}

.roulette-btns {
  text-align: center;
  padding-top: 30px;
}

.select-box {
  text-align: center;
  padding: 100px 0 ;
  color: white;
  width: 100vw;
}

.text-size {
  width: 800px;
}

.rank-info {
  color: white;
  text-align: center;
}