// Place all the styles related to the titles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-back {
  background-color: black;
  height: 96vh;
  font-weight: bold;
  color: black;
}

.theme-title {
  font-size: 30px;
  padding-top: 60px;
  color: white;
}

.titles {
  text-align: center;
}

.flex-buttons-title {
  padding-left: 250px;
}

.panel-block {
 margin-right: 90px;
}

.show-panel {
  background-color: rgb(255, 231, 20);
}

.content-box {
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  background-color: rgb(255, 231, 20);
  color: black;
  width:fit-content;
  padding: 0 30px;
  
}

.content-time {
  text-align: right;
  padding-right: 60px;
  color: white;
}

.select-box2 {
  font-size: 18px;
  text-align: center;
}

.answer {
  color: black;
  background-color: rgb(255, 231, 20);
  padding: 10px 10px;
}

.delete-box {
  text-align: right;
  padding-right: 30px;
}

.show-panel {
  padding-right: 30px;
}

.flex-buttons-title {
  color: white;
}
