// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.edit-back {
  height: 100vh;
  background-color: rgb(252, 206, 1);
}
.my-back {
  background-size:cover;
}
.profile {
  background-color: black;
}

.profile-comment {
  width: 100%;
}

.section {
  font-size: 18px;
}
