// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.edit-back {
  height: 100vh;
  background-color: black;
}
.my-back {
  height: 100vh;
  background-size: cover;
}
.profile {
  background-color: black;
}

.profile-comment {
  width: 100%;
  color:white;
}

.section {
  font-size: 18px;
}

.user-all {
  background-color: black;
  height: 100%;
  background-size: cover;
}

.profile-content {
  padding-right: 40px;
}

.post-count {
  background-color: black;
}